[submodule "src/manolab"]
	path = src/manolab
	url = https://github.com/manolab-project/manolab.git
[submodule "src/ImGuiColorTextEdit"]
	path = src/ImGuiColorTextEdit
	url = https://github.com/manolab-project/ImGuiColorTextEdit.git